/*_______________________Inicio del estilo para board_______________________*/
* {
  box-sizing: border-box;
}

/*********************************************************************
/**                     ESTILO PARA: BODY                           **
/*********************************************************************/
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

/*********************************************************************
/**                     ESTILO PARA: H1                             **
/*********************************************************************/
h1 {
 background: #121FCF;
 background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 text-align: center;

}

/*********************************************************************
/**                     ESTILO PARA: H2                             **
/*********************************************************************/
h2 {
  background: #00FF00;
  background: linear-gradient(to left, #00FF00 0%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*********************************************************************
/**                     ESTILO PARA: H3                             **
/*********************************************************************/
h3 {
  margin-top: 0;
  font-size: 18px;
}

/*********************************************************************
/**                     ESTILO PARA: H4                             **
/*********************************************************************/
h4 {
  margin-top: 0;
  font-size: 16px;
}

/*********************************************************************
/**                     ESTILO PARA: H5                             **
/*********************************************************************/
h5 {
  margin-top: 0;
  font-size: 14px;
}

/*********************************************************************
/**                     ESTILO PARA: H6                             **
/*********************************************************************/
h6 {
  margin-top: 0;
  font-size: 12px;
}

/*********************************************************************
/**                     ESTILO PARA: CODE                           **
/*********************************************************************/
code {
  font-size: 1.2em;
}

/*********************************************************************
/**                     ESTILO PARA: UL                             **
/*********************************************************************/
ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}


/*********************************************************************
/**                     ESTILO PARA: SQUARE                         **
/*********************************************************************/
.square {
   min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #d90429;
 z-index: 1;

}

.square:hover:after {
  width: 100%;
  left: 0;
}

.square:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
  background-color: #ef233c;
  right: 0;
}
.square:active {
  top: 2px;
}



.square-row:after {
  clear: both;
  content: '';
  display: table;
}

/*********************************************************************
/**                     ESTILO PARA: STATUS                         **
/*********************************************************************/
.status {
  
  border:20px inset #379fae;

  border-width:20px;
  border-style:inset;
  border-color:#379fae;
  width: 400px;
  /* Center horizontally*/
  text-align: center;
}

/*********************************************************************
/**                     ESTILO PARA: GAME                           **
/*********************************************************************/
.game {
  display: flex;
  flex-direction: row;
  
  background: #FFFF00;
background: linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%);


 
}

.game-info {
  margin-left: 20px;
}


/*********************************************************************
/**                     ESTILO PARA: JUMP-TO                         **
/*********************************************************************/
.jump-to {
 min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #ff0a78;
  color: #ff0a78;
}
.jump-to:hover {
  color: #fff;
}
.jump-to:hover:after {
 width: 100%;
}
.jump-to:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #ff0a78;
}



/*________________________Fin del estilo________________________*/